

.popisk{
    margin-left:20px;
    margin-right:5px;
    margin-top: 150px;
    height: 243px;
    width: 450px;
    float: left;

  position: absolute;
  padding: 20px 20px 20px;
  background:  #ebf4fb;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
}

.popisk h1 {
  margin: -20px -20px 21px;
   line-height: 40px;
  font-family: Arial, Helvetica;
  font-size: 24px;
  font-weight: bold;
  color: #555;
  text-align: center;
  background: #F9C700;
  border-bottom: 1px solid #cfcfcf;
  border-radius: 5px 5px 0 0;
  background-image: -webkit-linear-gradient(top, whiteffd, #eef2f5);
  background-image: -moz-linear-gradient(top, whiteffd, #eef2f5);
  background-image: -o-linear-gradient(top, whiteffd, #eef2f5);
  background-image: linear-gradient(to bottom, whiteffd, #eef2f5);
  -webkit-box-shadow: 0 1px whitesmoke;
  box-shadow: 0 1px whitesmoke;;
}
.popisk p {
  margin: 20px 0 0;
}
.popisk p:first-child {
  margin-top: 0;
}
.popisk input[type=text], .popisk input[type=password] {
  width: 278px;
}


.popisk p.submit {
  text-align: right;
}


 .button {
    display: inline-block;
    white-space: nowrap;
    background-color: #F9C700;
    background-image: linear-gradient(top, #eee, #ccc);

    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeeeee', EndColorStr='#cccccc');
    border: 1px solid #777;
    padding: 0 1.5em;
    margin: 0.5em;
    font: bold 1em/2em Arial, Helvetica;
    text-decoration: none;
    color: #333;
    text-shadow: 0 1px 0 rgba(255,255,255,.8);
    border-radius: .2em;
    box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
}

.button:hover {
    background-color: #ddd;
    background-image: linear-gradient(top, #fafafa, #ddd);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fafafa', EndColorStr='#dddddd');
}

.button:active {
    box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
    position: relative;
    top: 1px;
}

.button:focus {
    outline: 0;
    background: #fafafa;
}




.section {

position: relative;
border: 1px solid #000;
padding-top:37px;
background: #333333;
width: 100%;

}

.forma1{

    width: 400px;
    height: 330px;
    padding-top: 14px;
    padding-left: 30px;
    border:solid 2px #b7ddf2;
    background-image: url("body.jpg");

}

.container {
overflow-y: scroll;
overflow-x: hidden;
max-height: 160px;
}
table {
border-spacing: 0;
width:100%;
}
td + td {
border-left:1px solid #000;
}
th,td {
border-bottom:1px solid #000;
background: #fff;
color: #000;
text-align: center;
padding-left: 3px;


}
th {

height: 0;
line-height: 0;
padding-top: 0;
padding-bottom: 0;
color: transparent;
border: none;
white-space: nowrap;

}
th div{
position: absolute;
color: #fff;
top: 0;
padding-top: 7px;
padding-left:  1%;
padding-right:  1%;
line-height: normal;

}


  .naziv{
       margin: 0;
       position: relative;
       margin: 0 auto;
        border-width: 1px;
        padding: 8px;
        border-style: solid;
        border-color: #3A3A3A;
        background-color: #B3B3B3;
         padding: 20px 20px 20px;
        font-family: verdana,arial,sans-serif;
        font-size:11px;
        color:#333333;
        border-width: 1px;
        border-color: #3A3A3A;
        border-collapse: collapse;


  }

  table.tabela {
       margin: 0;
       position: relative;
       margin: 0 auto;
        padding: 20px 20px 20px;
        font-family: verdana,arial,sans-serif;
        font-size:11px;
        color:#333333;
        border-width: 1px;
        border-color: #3A3A3A;
        border-collapse: collapse;



    }


    table.tabela th {
        border-width: 1px;
        padding: 8px;
        border-style: solid;
        border-color: #3A3A3A;
        background-color: #B3B3B3;
    }


       table.tabela td {
        border-width: 1px;
        padding: 8px;
        border-style: solid;
        border-color: #3A3A3A;
        background-color: #ffffff;
  }

